.row {
  justify-content: center;
}

.jumbotron p {
  font-size: 3rem;
  font-weight: 750;
  text-align: center;
}
.jumbotron {
  padding: 2.5rem 2rem;
  position: relative;
}

#addButton {
  margin: 0;
}
.card-body {
  padding: 0.8rem;
  border-top: 0.5px solid #808080e0;
}


.card-header {
  padding: 0.5rem 0.8rem;
}

img .card-img-top {
  width: 100%;
}
.card>img {
  height: 30vh;
  object-fit: contain;
  background-color: #f8f9fa;
}


