.row {
  justify-content: center;
}

.jumbotron p {
  font-size: 3rem;
  font-weight: 750;
  text-align: center;
}
.jumbotron {
  padding: 2.5rem 2rem;
  position: relative;
}

#addButton {
  margin: 0;
}
.card-body {
  padding: 0.8rem;
}
.card-header {
  padding: 0.5rem 0.8rem;
}

img .card-img-top {
  width: 100%;
}
.card>img {
  height: auto;
}
