.row {
  justify-content: center;
}

.jumbotron p {
  font-size: 3rem;
  font-weight: 750;
  text-align: center;
}
.jumbotron {
  padding: 2.5rem 2rem;
}

img .card-img-top {
  width: 100%;
}
.card>img {
  height: 30vh;
  width: auto;
}
